* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1 {
  color: #495567;
}
h4 {
  color: #495567;
}
h6 {
  color: #495567;
}
p {
  color: #939caa;
}
.container-fluid {
  header {
    z-index: 1;
    width: 100%;
    position: fixed;
    background: #ffffff;
    left: 0%;
    .cards {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 100px 10px 40px;
      ul {
        display: flex;
        align-items: center;
        gap: 40px;
        .burger {
          display: none;
        }
        li {
          list-style: none;
          a {
            text-decoration: none;
            color: #939caa;
          }
        }
      }
      form {
        button {
          color: #ffffff;
          background: #fcb72b;
          border: none;
          padding: 14px 35px;
        }
      }
    }
  }
  .header_img {
    img {
      position: absolute;
      z-index: -1;
      left: 0%;
      width: 100%;
      height: 27%;
    }
    h1 {
      color: #ffffff;
      position: absolute;
      cursor: pointer;
      margin-top: 110px;
      margin-left: 40px;
    }
  }
  .section2 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px;
    gap: 155px;
    transform: translateY(200px);
    .easy {
      text-align: left;
      width: 500px;
      margin-top: 10px;
    }
    .easy_img {
      position: relative;
      .bitman2 {
        border-radius: 50%;
      }
      .group11 {
        position: absolute;
        top: 250px;
        right: -130px;
      }
      .group12 {
        position: absolute;
        top: 70px;
        left: -500px;
      }
    }
  }
  h1 {
    text-align: center;
    font-size: 45px;
    margin-top: 300px;
  }
  section {
    display: flex;
    text-align: center;
    margin-top: 200px;
    padding: 50px;
    gap: 10px;
    .group {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      img {
        &:nth-child(1) {
          border-radius: 50%;
          position: absolute;
          z-index: -1;
          transform: translateY(-190px) translateX(85px);
        }
      }
      h2 {
        color: #495567;
      }
      p {
        color: #939caa;
      }
    }
  }
  article {
    .dropdownnn {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      gap: 100px;
      .dropss {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 15px;
        margin-top: 300px;
        .btn-group {
          background: #f6faff;
          padding: 10px 50px;
        }
        button {
          width: 100%;
        }
        ul {
          padding: 10px 50px;
          background: #f6faff;
        }
      }
    }
  }
  footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 70px;
    background-color: #495567;
    left: 0%;
    margin-top: 50px;
    .sign_up {
      h1 {
        color: #ffffff;
        width: 60%;
        margin-bottom: 270px;
      }
    }
    .icons {
      display: flex;
      gap: 30px;
      .icon {
        display: flex;
        align-items: center;
        gap: 10px;
        border-radius: 5px;
        padding: 10px;
        background-color: #e5ecf4;
      }
    }
  }
  .lowest_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #333a44;
    width: 100%;
    left: 0%;
    padding: 20px 70px 10px 20px;
    .card_footer {
      ul {
        display: flex;
        align-items: center;
        gap: 40px;
        li {
          list-style: none;
          a {
            text-decoration: none;
            color: #939caa;
          }
        }
      }
    }
  }
}
@media (max-width: 576px) {
  .container-fluid {
    header {
      z-index: 1;
      width: 100%;
      position: fixed;
      background: #ffffff;
      left: 0%;
      .cards {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 100px 10px 40px;
        ul {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 40px;
          .burger {
            display: flex;
          }
          li {
            display: none;
            list-style: none;
            a {
              text-decoration: none;
              color: #939caa;
            }
          }
        }
        form {
          button {
            display: none;
            color: #ffffff;
            background: #fcb72b;
            border: none;
            padding: 14px 35px;
          }
        }
      }
    }
    .header_img {
      img {
        position: absolute;
        z-index: -1;
        left: 0%;
        width: 110%;
        height: 80vh;
      }
      h1 {
        color: #ffffff;
        position: absolute;
        cursor: pointer;
        margin-top: 200px;
        margin-left: 200px;
      }
    }
    .section2 {
      display: flex;
      align-items: center;
      flex-direction: column;
      flex-wrap: wrap;
      padding: 50px;
      gap: 15px;
      transform: translateY(400px);
      .easy {
        text-align: center;
        width: 500px;
        margin-top: 10px;
        order: 2;
        transform: translateY(-200px);
      }
      .easy2 {
        text-align: center;
        width: 500px;
        margin-top: 10px;
        order: 4;
        transform: translateY(-350px);
      }
      .easy_img {
        position: relative;
        order: 1;
        .bitman2 {
          border-radius: 50%;
        }
        .group11 {
          position: absolute;
          width: 100%;
          top: 250px;
          right: -30px;
        }
      }
      .easy_img2 {
        position: relative;
        order: 3;
        transform: translateY(-150px);
        .bitman2 {
          border-radius: 50%;
        }

        .group12 {
          position: absolute;
          width: 100%;
          top: 70px;
          left: -100px;
        }
      }
    }
    h1 {
      text-align: center;
      font-size: 45px;
      margin-top: 300px;
      transform: translateY(-200px) translateX(20px);
    }
    section {
      display: flex;
      text-align: center;
      flex-direction: column;
      margin-top: 200px;
      padding: 50px;
      gap: 10px;
      .group {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        transform: translateY(-200px) translateX(20px);
        img {
          &:nth-child(1) {
            border-radius: 50%;
            position: absolute;
            z-index: -1;
            transform: translateY(-190px) translateX(85px);
          }
        }
        h2 {
          color: #495567;
        }
        p {
          color: #939caa;
        }
      }
      .group2 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        transform: translateY(-10px) translateX(20px);
        img {
          &:nth-child(1) {
            border-radius: 50%;
            position: absolute;
            z-index: -1;
            transform: translateY(-190px) translateX(85px);
          }
        }
        h2 {
          color: #495567;
        }
        p {
          color: #939caa;
        }
      }
      .group3 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        transform: translateY(200px) translateX(20px);
        img {
          &:nth-child(1) {
            border-radius: 50%;
            position: absolute;
            z-index: -1;
            transform: translateY(-190px) translateX(85px);
          }
        }
        h2 {
          color: #495567;
        }
        p {
          color: #939caa;
        }
      }
    }
    h1 {
      transform: translateX(20px);
    }
    article {
      .dropdownnn {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        // gap: 50px;
        h1 {
          transform: translateY(-200px) translateX(100px);
        }
        .dropss {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap: 15px;
          transform: translateY(-500px) translateX(90px);
          .btn-group {
            background: #f6faff;
            padding: 10px 50px;
          }
          button {
            width: 100%;
          }
          ul {
            padding: 10px 50px;
            background: #f6faff;
          }
        }
      }
      .dropdownnn2 {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        // gap: 50px;
        h1 {
          transform: translateY(-700px) translateX(100px);
        }
        .dropss {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap: 15px;
          transform: translateY(-600px) translateX(100px);
          .btn-group {
            background: #f6faff;
            padding: 10px 50px;
          }
          button {
            width: 100%;
          }
          ul {
            padding: 10px 50px;
            background: #f6faff;
          }
        }
      }
    }
    footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      padding: 0px 70px;
      background-color: #495567;
      left: 0%;
      transform: translateY(-500px);
      .sign_up {
        h1 {
          color: #ffffff;
          width: 100%;
          margin-bottom: 50px;
          text-align: center;
        }
      }
      .icons {
        display: flex;
        gap: 30px;
        margin-bottom: 100px;
        .icon {
          display: flex;
          align-items: center;
          gap: 10px;
          border-radius: 5px;
          padding: 10px;
          background-color: #e5ecf4;
        }
      }
    }
    .lowest_footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: #333a44;
      width: 100%;
      left: 0%;
      transform: translateY(-500px);
      padding: 20px 200px 10px 20px;
      .card_footer {
        ul {
          display: flex;
          align-items: center;
          gap: 40px;
          li {
            list-style: none;
            a {
              text-decoration: none;
              color: #939caa;
            }
          }
        }
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .container-fluid {
    header {
      z-index: 1;
      width: 100%;
      position: fixed;
      background: #ffffff;
      left: 0%;
      .cards {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 100px 10px 40px;
        ul {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 40px;
          .burger {
            transform: translateX(200px);
            display: flex;
            width: 250%;
          }
          img {
            transform: translateX(300px);
          }
          li {
            display: none;
            list-style: none;
            a {
              text-decoration: none;
              color: #939caa;
            }
          }
        }
        form {
          button {
            display: none;
            color: #ffffff;
            background: #fcb72b;
            border: none;
            padding: 14px 35px;
          }
        }
      }
    }
    .header_img {
      img {
        position: absolute;
        z-index: -1;
        left: 0%;
        width: 110%;
        height: 80vh;
      }
      h1 {
        color: #ffffff;
        position: absolute;
        cursor: pointer;
        margin-top: 200px;
        margin-left: 200px;
      }
    }
    .section2 {
      display: flex;
      align-items: center;
      flex-direction: column;
      flex-wrap: wrap;
      padding: 50px;
      gap: 15px;
      transform: translateY(400px);
      .easy {
        text-align: center;
        width: 500px;
        margin-top: 10px;
        order: 2;
        transform: translateY(-200px);
      }
      .easy2 {
        text-align: center;
        width: 500px;
        margin-top: 10px;
        order: 4;
        transform: translateY(-350px);
      }
      .easy_img {
        position: relative;
        order: 1;
        .bitman2 {
          border-radius: 50%;
        }
        .group11 {
          position: absolute;
          width: 100%;
          top: 250px;
          right: -30px;
        }
      }
      .easy_img2 {
        position: relative;
        order: 3;
        transform: translateY(-150px);
        .bitman2 {
          border-radius: 50%;
        }

        .group12 {
          position: absolute;
          width: 100%;
          top: 70px;
          left: -100px;
        }
      }
    }
    h1 {
      text-align: center;
      font-size: 45px;
      margin-top: 300px;
      transform: translateY(-200px) translateX(20px);
    }
    section {
      display: flex;
      text-align: center;
      flex-direction: column;
      margin-top: 200px;
      padding: 50px;
      gap: 10px;
      .group {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        transform: translateY(-200px) translateX(20px);
        img {
          &:nth-child(1) {
            border-radius: 50%;
            position: absolute;
            z-index: -1;
            transform: translateY(-190px) translateX(235px);
          }
        }
        h2 {
          color: #495567;
        }
        p {
          color: #939caa;
        }
      }
      .group2 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        transform: translateY(-10px) translateX(20px);
        img {
          &:nth-child(1) {
            border-radius: 50%;
            position: absolute;
            z-index: -1;
            transform: translateY(-190px) translateX(235px);
          }
        }
        h2 {
          color: #495567;
        }
        p {
          color: #939caa;
        }
      }
      .group3 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        transform: translateY(200px) translateX(20px);
        img {
          &:nth-child(1) {
            border-radius: 50%;
            position: absolute;
            z-index: -1;
            transform: translateY(-190px) translateX(235px);
          }
        }
        h2 {
          color: #495567;
        }
        p {
          color: #939caa;
        }
      }
    }
    h1 {
      transform: translateX(20px);
    }
    article {
      .dropdownnn {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        // gap: 50px;
        h1 {
          transform: translateY(-200px) translateX(100px);
        }
        .dropss {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap: 15px;
          transform: translateY(-500px) translateX(90px);
          .btn-group {
            background: #f6faff;
            padding: 10px 50px;
          }
          button {
            width: 100%;
          }
          ul {
            padding: 10px 50px;
            background: #f6faff;
          }
        }
      }
      .dropdownnn2 {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        // gap: 50px;
        h1 {
          transform: translateY(-700px) translateX(100px);
        }
        .dropss {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap: 15px;
          transform: translateY(-600px) translateX(100px);
          .btn-group {
            background: #f6faff;
            padding: 10px 50px;
          }
          button {
            width: 100%;
          }
          ul {
            padding: 10px 50px;
            background: #f6faff;
          }
        }
      }
    }
    footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      padding: 0px 70px;
      background-color: #495567;
      left: 0%;
      transform: translateY(-500px);
      .sign_up {
        h1 {
          color: #ffffff;
          width: 100%;
          margin-bottom: 50px;
          text-align: center;
        }
      }
      .icons {
        display: flex;
        gap: 30px;
        margin-bottom: 100px;
        .icon {
          display: flex;
          align-items: center;
          gap: 10px;
          border-radius: 5px;
          padding: 10px;
          background-color: #e5ecf4;
        }
      }
    }
    .lowest_footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: #333a44;
      width: 100%;
      left: 0%;
      transform: translateY(-500px);
      padding: 20px 200px 10px 20px;
      .card_footer {
        ul {
          display: flex;
          align-items: center;
          gap: 40px;
          li {
            list-style: none;
            a {
              text-decoration: none;
              color: #939caa;
            }
          }
        }
      }
    }
  }
}
